*{
    margin:0;
    padding: 0;
    font-size: 1.02em;
    font-family: 'Times New Roman', Times, serif ;
}

body{

    background-color:#2e2e2e;

}

#menu-top{
        margin: auto;
        max-width: 900px;
        background-color: #252526

}
#menu-top ul{

    list-style: none;
    text-decoration: none;
 
    display: flex;
    align-items: center;
    justify-content: center;

}
#menu-top ul li a{

    list-style: none;
    text-decoration: none;
    padding:20px;
    color:whitesmoke;
    line-height: 50px;

}

#menu-top ul li a:hover{
  
    color:lightgray;
}

#logo h1{

    
        text-align: center;
        font-size: 3em;
        color:#505152; 

    
}

#logo{
    background-color: #252526;
    max-width: 900px;
    margin:auto; 

}
.cont-div{
    min-width: 620px;
    max-width: 620px;
    padding: 10px;
    background-color: #252526;
    float: left;
    color:whitesmoke;
    border-radius: 20px;
}
.cont{
     min-width: 900px;
     padding: 20px;
     margin: auto;
     max-width: 900px;
}
.cont-div-right{
   min-width: 220px;
    max-width: 220px;
    padding: 10px;
    background-color: #252526;
    float: right;
    border-radius: 20px;
    color:whitesmoke;

}

.cont-div-right h1{
    color:whitesmoke; 
    text-align: center;
    font-size:1.1em;

    text-align: justify;

}

#rood{

    background-color:red;
    max-height: 30px;
    max-width: 900px;
    min-width: 900px;
}


.cont-div-2{

    background-color: yellow;
}


.enviar{ 

        max-width: 100px;
        min-width: 100px; 
        margin:auto; 
        padding: 5px;
        color:rgb(71, 70, 70);
        border-radius: 10px;
        

}
.user {

    width: 300px;
    height: 30px;
    color:rgb(71, 70, 70);
    align-items: center;
    border-radius: 10px;
    text-align: center;
   

}

.pass {

    width: 300px;
    height: 30px;
    color:rgb(71, 70, 70);
    border-radius: 10px;
    text-align: center;
   


}
.form-div{

    background-color: red;
    min-width:450px;
    float: right;
    border-radius: 20px;
    border-radius: 10px;


}
.h1-login{
    text-align: center;
    color:whitesmoke;
    font-size: 1.1em;

}
.new-user{

 
 


}

.img-style{ 
    margin:auto; 
    float: left;

}
.text-index{
    float:right; 
    text-align: justify;
    font-size: 1.1em;

}
